* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App-container {
    background-color: blueviolet;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}