* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.App-container {
    background-color: #e637c0;
    width: 100vw;
    height: 100vh;
}